html {
	box-sizing: border-box;
}


*, 
*::before,
*::after {
	outline: 1px solid black;
	box-sizing: inherit;
}

html {
	width: 100%;
	margin: 0;
	padding: 0;
    
}

body {
	min-height: 100vh;
	position: relative;
	text-align: center;
    font-family: 'Open Sans', san-serif;
    background-color: #a3de83;
   
}


header {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 150px;
	width: 100%;
	margin: 20px;
	
}


.header h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 3em;
	padding: 5px;
}


/* Modal Section */

.overlay {
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	width: 505px;
	height: 538px;
	position: absolute;
	top: 220px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 5px;
	
	
}


.modal_body {
	position: absolute;
	background-color: #d4f4dd;
	border-radius: 5px;
	left: 0;
	right: 0;
	top: 280px;
	width: 420px;
	height: 430px;
	margin: 0 auto;
	padding: 1em 2em;
}

.modal_body h2, h3, h4, h5 {
	font-weight: bold;
}

.modal_body h5 {
	color: #fa4659;

}

.modal_body button {
	background-color: #fa4659;
	border: none;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 16px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, 
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.hide {
	visibility: hidden;
	opacity: 0 !important;
}

.show {
	visibility: visible !important;
	opacity: 1 !important;
}

/* Future Game Over Modal */




.game_over {
	position: absolute;
	background-color: #d4f4dd;
	border-radius: 5px;
	left: 0;
	right: 0;
	top: 353px;
	width: 420px;
	height: 410px;
	margin: 0 auto;
	padding: 3em 3em;
	display: none;
}

.game_over button {
	background-color: #fa4659;
	border: none;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 16px;
}




